---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About Me";
tags: ["astro", "blogging", "learning in public", "setbacks"]
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My About Page</h2>
</BaseLayout>